<meta charset='UTF-8' />
<meta content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, viewport-fit=cover' name='viewport' />
<link rel='stylesheet' type='text/css' href='<#? appassets ?#>/ui/v3/style.css' />
<link rel='stylesheet' type='text/css' href='/style.css' />
<link rel='icon' href='<#? appicon ?#>' />
<title ad-app-title='<#? apptitle ?#>'><#? apptitle ?#></title>
<meta name="version" content="<#? appversion ?#>">
<meta name="description" content="<#? page_description ?#>">
<meta property="og:title" content="<#? page_name ?#>"/>
<script id='adux_js'>
    const ADUX =
    {
        homepage: '<#? apphomepage ?#>'
    };
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src="<#? appassets ?#>/ui/v3/head.js"></script>
<script src="<#? appassets ?#>/ui/v3/components.js"></script>
<script src="<#? appassets ?#>/ui/v3/style.js"></script>
<script src="<#? appassets ?#>/ui/v3/events.js"></script> 