<section class="desktop">
	<div class="navigation">
		<a goto="/challenges">
			<span class='icon'>&#xed8a;</span>
			<span>Challenges</span>
		</a>
		<a goto="/compiler">
			<span class='icon'>&#xef4f;</span>
			<span>Compiler</span>
		</a>
		<div class="footer">
			<a goto="/help">
				<span class='icon'>&#xf95f;</span>
				<span>Help</span>
			</a>
			<a goto="/settings">
				<span class='icon'>&#xf337;</span>
				<span>Settings</span>
			</a>
		</div>
	</div> 
</section>

<section class="mobile">
	<span class="navigation">
		<a goto="/challenges">
			<span class='icon'>&#xed89;</span>
			<span>Challenges</span>
		</a>
		<a goto="/compiler">
			<span class='icon'>&#xef4f;</span>
			<span>Compiler</span>
		</a>
		<a goto="/help">
			<span class='icon'>&#xf95e;</span>
			<span>Help</span>
		</a>
		<a goto="/settings">
			<span class='icon'>&#xf337;</span>
			<span>Settings</span>
		</a>
	</span> 
</section>