<section class="desktop">
	<div class="navigation">
		<a goto="/admin/challenges">
			<span class='icon'>&#xed8a;</span>
			<span>Challenges</span>
		</a>
		<a goto="/admin/auditlog">
			<span class='icon'>&#xefba;</span>
			<span>Audit Log</span>
		</a>
	</div> 
	<div class="footer">
		<a goto="/admin/settings">
			<span class='icon'>&#xf337;</span>
			<span>Settings</span>
		</a>
		<a goto="/admin/settings/">
			<img class="icon" src="/avatar/<#? activeuser.id ?#>"/>
			<span><#? activeuser.nickname ?#></span>
		</a>
	</div>
</section>

<section class="mobile">
	<span class="navigation">	
		<a goto="/admin/challenges">
			<span class='icon'>&#xed89;</span>
			<span>Challenges</span>
		</a>
		<a goto="/admin/auditlog">
			<span class='icon'>&#xefba;</span>
			<span>Audit Log</span>
		</a>
		<a goto="/admin/settings">
			<span class='icon'>&#xf337;</span>
			<span>Settings</span>
		</a>
	</span> 
</section>